Source: gridengine
Priority: optional
Section: utils
Maintainer: sge-bugs@liv.ac.uk
Build-Depends: debhelper (>= 4.0.0), csh | tcsh, libdb-dev, libssl-dev,
 libncurses5-dev, libpam0g-dev, libxt-dev, lesstif2-dev,
 libxmu-dev, default-jdk, ant, ant-optional, junit, javacc,
 libhwloc-dev (>= 1.1), libpam0g-dev, man-db, hardening-wrapper
# add quilt if we acquire patches
Standards-Version: 3.9.1
Homepage: http://arc.liv.ac.uk/SGE

Package: gridengine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gridengine-common
Suggests: openssh-client
Recommends: gridengine-doc
Description: Grid Engine programs
 Grid Engine is software that facilitates "distributed resource
 management" (DRM).  Far more than just simple load-balancing tools or
 batch scheduling mechanisms, DRM software typically provides the
 following key features across large sets of distributed resources:
 .
   * Policy based allocation of distributed resources (CPU time,
     software licenses, etc.)
   * Batch queuing & scheduling
   * Support diverse server hardware, OS and architectures
   * Load balancing & remote job execution
   * Detailed job accounting statistics
   * Fine-grained user specifiable resources
   * Suspend/resume/migrate jobs
   * Tools for reporting Job/Host/Cluster status
   * Job Arrays
   * Integration & control of parallel jobs
 .
 This package contains the Grid Engine programs.

Package: gridengine-common
Architecture: all
Section: utils
Depends: ${misc:Depends}, adduser, bsd-mailx | mailx
Description: Distributed resource management - common files
 Grid Engine is software that facilitates "distributed resource
 management" (DRM).  Far more than just simple load-balancing tools or
 batch scheduling mechanisms, DRM software typically provides the
 following key features across large sets of distributed resources:
 .
   * Policy based allocation of distributed resources (CPU time,
     software licenses, etc.)
   * Batch queuing & scheduling
   * Support diverse server hardware, OS and architectures
   * Load balancing & remote job execution
   * Detailed job accounting statistics
   * Fine-grained user specifiable resources
   * Suspend/resume/migrate jobs
   * Tools for reporting Job/Host/Cluster status
   * Job Arrays
   * Integration & control of parallel jobs
 .
 This package contains required shared files and the basic configuration.

Package: gridengine-doc
Architecture: all
Section: doc
Description: Grid Engine documentation
 Grid Engine is software that facilitates "distributed resource
 management" (DRM).  Far more than just simple load-balancing tools or
 batch scheduling mechanisms, DRM software typically provides the
 following key features across large sets of distributed resources:
 .
   * Policy based allocation of distributed resources (CPU time,
     software licenses, etc.)
   * Batch queuing & scheduling
   * Support diverse server hardware, OS and architectures
   * Load balancing & remote job execution
   * Detailed job accounting statistics
   * Fine-grained user specifiable resources
   * Suspend/resume/migrate jobs
   * Tools for reporting Job/Host/Cluster status
   * Job Arrays
   * Integration & control of parallel jobs
 .
 This package contains the Grid Engine documentation.

Package: gridengine-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}
Description: Grid Engine programs
 Grid Engine is software that facilitates "distributed resource
 management" (DRM).  Far more than just simple load-balancing tools or
 batch scheduling mechanisms, DRM software typically provides the
 following key features across large sets of distributed resources:
 .
   * Policy based allocation of distributed resources (CPU time,
     software licenses, etc.)
   * Batch queuing & scheduling
   * Support diverse server hardware, OS and architectures
   * Load balancing & remote job execution
   * Detailed job accounting statistics
   * Fine-grained user specifiable resources
   * Suspend/resume/migrate jobs
   * Tools for reporting Job/Host/Cluster status
   * Job Arrays
   * Integration & control of parallel jobs
 .
 This package contains debugging versions of the Grid Engine programs.
